.actuator-pad {
  width: 140px;
  height: 100px;
  padding: 5px;
  margin: 20px 10px 0px 10px;
}

.actuator-pad-header {
  text-align: center;
  margin: 0px;
  padding: 5px 0px 2px 0px;
  height: 24px;
}

.actuator-pad-content {
  text-align: center;
  margin: 0px;
  padding: 0px 0px 3px 0px;
  width: 100%;
  height: 64px;
  display: table;
}

.actuator-pad-content div {
  display: table-cell;
  vertical-align: middle;
  horiz-align: center;
}

.actuator-pad-content div div {
  display: block;
}

