.actuator-pad {
  display: grid;
  grid-template-columns: 140px;
  grid-template-rows: 20px 75px;
  grid-gap: 5px;
  width: 140px;
  height: 100px;
  padding: 5px;
  margin: 20px 10px 0px 10px;
  border: 1px yellow solid;
}

.actuator-pad-header {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 138px;
  height: 18px;
  text-align: center;
  //border: 1px black solid;
}

.actuator-pad-content {
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: 138px;
  height: 73px;
  text-align: center;
  //border: 1px black solid;
}