  <mat-card class="actuator-pad">
    <div class="actuator-pad-header">{{widget.name}}</div>
    <div class="actuator-pad-content">
      <div class="rgbw-pad">
        <div class="rgbw-switch">
            <mat-slide-toggle checked="{{isOn}}" (click)="onSwitchChange($event)"></mat-slide-toggle>
        </div>
        <div class="rgbw-picker">
            <ngx-colors
                ngx-colors-trigger
                (input)="onColorChange($event)"
                [(ngModel)]="selectedColor"
                [format] = "'hex'"
                colorsAnimation="popup"
                ></ngx-colors>
        </div>
        <div class="rgbw-label">
          <ng-template [ngIf]="!isSwitchKnown">Unknown</ng-template>
          <ng-template [ngIf]="isSwitchKnown && isOn">On</ng-template>
          <ng-template [ngIf]="isSwitchKnown && !isOn">Off</ng-template>
        </div>
      </div>
    </div>
  </mat-card>
