  <mat-card class="actuator-pad">
    <div class="actuator-pad-header">{{widget.name}}</div>
          <div>
              <div class="measure-pad">
                  <div class="measure-icon">
                      <img width="100%" [src]="iconPath" />
                  </div>
                  <div class="measure-value">
                      {{this.reading}}-->
                  </div>
                  <div class="measure-unit">
                      {{this.unit}}-->
                  </div>
              </div>
          </div>
  </mat-card>
