<div *ngFor="let widget of panelTab.widgets" [ngSwitch]="widget.type" class="tab-panel-item">
  <ng-template [ngSwitchCase]="'ReportWidget'">
    <wdgt-report [widget]="widget"></wdgt-report>
  </ng-template>
  <ng-template [ngSwitchCase]="'ToggleWidget'">
    <wdgt-toggle [widget]="widget"></wdgt-toggle>
  </ng-template>
  <ng-template [ngSwitchCase]="'RGBWToggleWidget'">
    <wdgt-rgbw-toggle [widget]="widget"></wdgt-rgbw-toggle>
  </ng-template>
  <ng-template [ngSwitchCase]="'TriggerWidget'">
    <wdgt-trigger [widget]="widget"></wdgt-trigger>
  </ng-template>
  <ng-template [ngSwitchCase]="'MeasureWidget'">
    <wdgt-measure [widget]="widget"></wdgt-measure>
  </ng-template>
  <ng-template ngSwitchDefault>
    <wdgt-undefined [widget]="widget"></wdgt-undefined>
  </ng-template>
</div>
