  <mat-card class="actuator-pad">
    <div class="actuator-pad-header">{{widget.name}}</div>
    <div class="actuator-pad-content">
      <div>
        <div>
          <mat-slide-toggle
              checked="{{isOn}}"
              (click)="onStateChange($event)">
          </mat-slide-toggle>
        </div>
        <div>
          <ng-template [ngIf]="!isKnown">Unknown</ng-template>
          <ng-template [ngIf]="isKnown && isOn">On</ng-template>
          <ng-template [ngIf]="isKnown && !isOn">Off</ng-template>
        </div>
      </div>
    </div>
  </mat-card>
